<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control input-lg' %>
  </div>

  <div class="form-group">
<!--     <%= f.label :body_markdown %>
    <%= f.text_area :body_markdown %> -->
    <%= f.label :body_html %><br>
    <%= f.text_area :body_html, class: 'form-control', rows: 5 %>
  </div>

  <div class="checkbox">
    <label><%= f.check_box :draft %> Draft</label>
  </div>
  
  <div class="form-group">
    <%= f.label :published_on %><br>
    <%= f.date_select :published_on %>
  </div>

  <%= f.submit nil, class: 'btn btn-default' %>
<% end %>
