<% if current_user == @blog_post.user %>
  <%= link_to 'Edit', edit_blog_post_path(@blog_post), class: 'pull-right btn btn-primary btn-lg' %>
<% end %>

<h1>
  <% if @blog_post.draft %>
    <span><%= @blog_post.draft %></span>
  <% end %>
  <%= @blog_post.title %>
</h1>
<p>By <%= @blog_post.user.username %> on <%= @blog_post.published_on %></p>
<%= @blog_post.body_html %>
