<% content_for :sidebar do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'Start a New Discussion', new_discussion_path %>
    </div>
  </div>
<% end %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><%= link_to 'Discussions', discussions_path %></li>
    <li class="active"><%= @discussion.title %></li>
  </ol>
<% end %>

<h1><%= @discussion.title %></h1>
<p>
  Posted by: <%= @discussion.user.username %>
  <% if policy(@discussion).update? %>
    | <%= link_to 'Edit', edit_discussion_path(@discussion) %>
  <% end %>
  <% if policy(@discussion).destroy? %>
    | <%= link_to 'Destroy', @discussion, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
<%= simple_format @discussion.body %>

<h2>Comments</h2>
<%= render 'comments/form' %>
<% @discussion.comments.each do |comment| %>
  <%= render comment %>
<% end %>
