<div class="row">

  <div class="col-md-9">
  <ol class="breadcrumb">
    <li><%= link_to 'Discussions', discussions_path %></li>
    <li class="active"><%= @discussion.title %></li>
  </ol>
    <h1><%= @discussion.title %></h1>
    <p>Posted by: <%= @discussion.user.username %> | <%= link_to 'Edit', edit_discussion_path(@discussion) %></p>
    <%= simple_format @discussion.body %>

    <h2>Comments</h2>
    <p>No comments yet. <%= link_to 'Participate in this discussion', '#', data: {toggle: "modal", target: "#notImplementedModal"} %></p>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'Start a New Discussion', new_discussion_path %>
      </div>
    </div>
  </div>

</div>
