<div class="row">
  <div class="col-lg-8">
    <h1>My Account</h1>

    <%= form_for current_user do |f| %>
      <div class="form-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= f.label :username, "Display Name"%>
            <%= f.text_field :username, class: 'form-control input-lg', style: 'max-width: 15em' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= f.label :email, "Email"%>
            <%= f.text_field :email, class: 'form-control input-md' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Would you like to receive a digest email when new posts are added to the website?</p>

            <p>
              <label class="radio-inline">
                <%= f.radio_button :digest_subscriber, true %> Yes
              </label>
              <label class="radio-inline">
                <%= f.radio_button :digest_subscriber, false %> No
              </label>
            </p>

            <div id="digest_frequency_options" style="<%= 'display:none' unless current_user.digest_subscriber? %>">
              <p>How often would you like to receive the digest email?</p>

              <div class="radio">
                <label>
                  <%= f.radio_button :digest_frequency, 'daily' %> Daily
                </label>
              </div>
              <div class="radio">
                <label>
                  <%= f.radio_button :digest_frequency, 'weekly' %> Weekly
                </label>
              </div>
              <div class="radio">
                <label>
                  <%= f.radio_button :digest_frequency, 'monthly' %> Monthly
                </label>
              </div>
            </div>

            <script>
              $(function() {
                $('[name="user[digest_subscriber]"]').click(function() {
                  if ($(this).val() == 'true') {
                    $('#digest_frequency_options').show()
                  } else {
                    $('#digest_frequency_options').hide()
                  }
                })
              })
            </script>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-primary btn-md' %>
      </div>
    </div>
  <% end %>
</div>
