<div class="row">
  <div class="col-lg-8">
    <h1>My Account</h1>

    <%= form_for current_user do |f| %>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control input-lg', style: 'max-width: 15em' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control input-md' %>
      </div>

      <div class="form-group">
        <%= f.label :dismissed_welcome_message %>
        <%= f.check_box :dismissed_welcome_message %>
      </div>
      
      <div class="form-group">
        <%= f.label :digest_subscriber %>
        <%= f.check_box :digest_subscriber %>
      </div>

      <div class="form-group">
        <%= f.label :digest_frequency %>
        <div class="radio">
          <label>
            <%= f.radio_button :digest_frequency, 'daily' %> Daily
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :digest_frequency, 'weekly' %> Weekly
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :digest_frequency, 'monthly' %> Monthly
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-primary btn-md' %>
      </div>

    <% end %>
  </div>
</div>
