<div class="row">
  <div class="col-lg-8">
    <h1>My Account</h1>

    <%= form_for current_user do |f| %>

      <div class="form-group">
        <%= f.label :username, 'Display Name' %>
        <%= f.text_field :username, class: 'form-control input-lg', style: 'max-width: 15em' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control input-md' %>
      </div>

   
      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-primary btn-md' %>
      </div>

    <% end %>
  </div>
</div>
