<p>Hi <%= @user.username %>,</p>

<p>Here's what you've missed on RubyGameDev.com:</p>

<h2>New Discussions:</h2>
<% if @discussions.count -%>
  <% @discussions.each do |discussion| -%>
    <p><%= discussion.title %></p>
  <% end -%>
<% else -%>
  <p>No new discussions.</p>
<% end -%>

<h2>New Tutorials:</h2>
<%= @tutorials.inspect %>
<% if @tutorials.count -%>
  <% @tutorials.each do |tutorial| -%>
    <p><%= tutorial.title %></p>
  <% end -%>
<% else -%>
  <p>No new tutorials.</p>
<% end -%>

<h2>New Libraries:</h2>
<%= @libraries.inspect %>
<% if @libraries.count -%>
  <% @libraries.each do |library| -%>
    <p><%= library.name %></p>
  <% end -%>
<% else -%>
  <p>No new libraries.</p>
<% end -%>

<h2>New Users: <%= @new_users_count %></h2>
