<%= form_for(@tutorial) do |f| %>

  <% if @tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</h2>

      <ul>
      <% @tutorial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  
  <ul id="tabs" class="nav nav-tabs">
    <li class="active"><a href="#link">Share a Link</a></li>
    <li><a href="#tutorial">Write a tutorial</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="link">
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: 'form-control' %>
      </div>
    </div>

    <div class="tab-pane" id="tutorial">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
<!--       <div class="form-group">
        <%= f.label :body_markdown %><br>
        <%= f.text_area :body_markdown %>
      </div> -->
      <div class="form-group">
        <%= f.label :body_html, 'Body' %><br>
        <%= f.text_area :body_html, class: 'form-control', rows: 10 %>
      </div>
      <div class="checkbox">
        <label><%= f.check_box :draft %> Draft</label>
      </div>
      <div class="form-group">
        <%= f.label :published_on %><br>
        <%= f.date_select :published_on %>
      </div>
<!--       <div class="form-group">
        <%= f.label :user %><br>
        <%= f.text_field :user %>
      </div> -->
    </div>
  </div>

  <%= f.submit nil, class: 'btn btn-default' %>
<% end %>

<script>
$('#tabs a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
