<h1>Listing tutorials</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Body markdown</th>
      <th>Body html</th>
      <th>Draft</th>
      <th>Published on</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.url %></td>
        <td><%= tutorial.title %></td>
        <td><%= tutorial.body_markdown %></td>
        <td><%= tutorial.body_html %></td>
        <td><%= tutorial.draft %></td>
        <td><%= tutorial.published_on %></td>
        <td><%= tutorial.user %></td>
        <td><%= link_to 'Show', tutorial %></td>
        <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
        <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial', new_tutorial_path %>
