<h1>
  <% if @tutorial.draft %>
    <span><%= @tutorial.draft %></span>
  <% end %>
  <%= @tutorial.title %>
</h1>
<p>By <%= @tutorial.user.username %> on <%= @tutorial.published_on %></p>
<%= @tutorial.body_html %>
