<% if signed_in? and !current_user.dismissed_welcome_message %>
  <div id="welcome_message" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Welcome to RubyGameDev.com, the community-driven, information hub which helps others to build games in Ruby! First time here?
    <%= link_to 'Learn More', about_page_path, class: 'alert-link' %>.
  </div>
  <%= form_for current_user, remote: true do |f| %>
    <%= f.hidden_field :dismissed_welcome_message, value: 1 %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "New Post", new_post_path, class: 'btn btn-primary pull-right' %>
        <%= link_to "Filter by Tag", tags_path, class: 'btn pull-right' %>
        <h2>Latest Posts</h2>
        <%= render 'posts/list' %>
        <%= paginate @posts %>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= form_tag(posts_path, method: :get, class: "form-inline") do %>
          <div class="form-group">
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h4>Looking for a way to contribute?</h4>
        <%= link_to "Help us on GitHub", 'https://github.com/ruby-rcade/RubyGameDev.com', class: 'btn btn-sm btn-primary', style: 'vertical-align: top' %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h4>Stay up to date!</h4>
        <a href="https://twitter.com/RubyGameDev" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RubyGameDev</a>
        <br>or <%= link_to "Create an Account", sign_up_path %> to receive a digest email!
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </div>
</div>
