<% unless @user.dismissed_welcome_message %>
  <div id="welcome_message" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Welcome! First time here? <%= link_to 'Read the blog post', '/blog/posts/1', class: 'alert-link' %> which explains what RubyGameDev.com is all about.
  </div>
  <%= form_for @user, remote: true do |f| %>
    <%= f.hidden_field :dismissed_welcome_message, value: 1 %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-7">

    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'See More', forum_root_path, class: 'btn btn-default pull-right' %>
        <h2>Discussion Forum</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Topic</th>
              <th>Posts</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">Game Programming Basics</a></td>
              <td>5</td>
            </tr>
            <tr>
              <td><a href="#">Specific Libraries</a></td>
              <td>10</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'See More', tutorials_path, class: 'btn btn-default pull-right' %>
        <h2>Tutorials</h2>
        <table class="table">
          <tbody>
            <% @tutorials.each do |tutorial| %>
              <tr>
                <td><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<%= tutorial.score %></td>
                <% if tutorial.url.present? %>
                  <td><%= link_to tutorial.title, tutorial.url, target: '_blank' %></td>
                <% else %>
                  <td><%= link_to tutorial.title, tutorial %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'See More', libraries_path, class: 'btn btn-default pull-right' %>
        <h2>Libraries</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><a href="#">Game Engines</a> (3)</td>
            </tr>
            <tr>
              <td><a href="#">Physics Engines</a> (2)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>

  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Digest Email</h2>
        <% if @user.digest_subscriber %>
          <p>You are signed up to receive <strong><%= @user.digest_frequency %></strong> digest emails.</p>
        <% else %>
          <p>Sign up for an email digest so you never miss a thing!</p>
          <%= form_for @user, remote: true, html: {id:'digest_signup_form', class: 'form-inline'} do |f| %>
            <%= f.hidden_field :digest_subscriber, value: 1 %>
            <p>
              <label class="radio-inline">
                <input type="radio" name="user[digest_frequency]" value="daily" checked> Daily
              </label>
              <label class="radio-inline">
                <input type="radio" name="user[digest_frequency]" value="weekly"> Weekly
              </label>
              <label class="radio-inline">
                <input type="radio" name="user[digest_frequency]" value="monthly"> Monthly
              </label>
            </p>
            <div class="form-group">
              <input type="email" name="user[email]" class="form-control" placeholder="email@example.com">
            </div>
            <%= f.submit 'Subscribe', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'See More', questions_path, class: 'btn btn-default pull-right' %>
        <h2>Questions</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><a href="#">Is ruby a suitable language for game development?</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Showcase</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <%= image_tag 'joybox_asteroids_game.png', class: 'media-object', width: 150 %>
            <!-- <img class="media-object" src="http://placehold.it/150x150"> -->
          </a>
          <div class="media-body">
            <h4 class="media-heading">Joybox Asteroids</h4>
            Joybox combines the most popular and widely used 2D game engine for iOS, Cocos2D, 
            folds in the amazing Box2D physics engine, and then wraps them up into a clean Ruby API 
            that will make game development faster and more enjoyable for both beginners and experts alike.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
