<% if signed_in? and !current_user.dismissed_welcome_message %>
  <div id="welcome_message" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Welcome to RubyGameDev.com, the community-driven, information hub which helps others to build games in Ruby! First time here? <%= link_to 'Learn More', about_page_path, class: 'alert-link' %>.
  </div>
  <%= form_for current_user, remote: true do |f| %>
    <%= f.hidden_field :dismissed_welcome_message, value: 1 %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-7">

    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'New Post', new_post_path, class: 'btn btn-primary pull-right' %>
        <h2>Latest Posts</h2>
        <%= render 'posts/list' %>
      </div>
    </div>

  </div>

  <div class="col-md-5">

    <% if signed_in? %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Digest Email</h2>
          <% if current_user.digest_subscriber %>
            <p>You are signed up to receive <strong><%= current_user.digest_frequency %></strong> digest emails.</p>
          <% else %>
            <p>Sign up for an email digest so you never miss a thing!</p>
            <%= form_for current_user, html: {id:'digest_signup_form', class: 'form-inline'} do |f| %>
              <%= hidden_field_tag :redirect_to, root_path %>
              <%= f.hidden_field :digest_subscriber, value: 1 %>
              <p>
                <label class="radio-inline">
                  <input type="radio" name="user[digest_frequency]" value="daily" checked> Daily
                </label>
                <label class="radio-inline">
                  <input type="radio" name="user[digest_frequency]" value="weekly"> Weekly
                </label>
                <label class="radio-inline">
                  <input type="radio" name="user[digest_frequency]" value="monthly"> Monthly
                </label>
              </p>
              <div class="form-group">
                <input type="email" name="user[email]" class="form-control" placeholder="email@example.com">
              </div>
              <%= f.submit 'Subscribe', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= link_to 'Help Out on GitHub', 'https://github.com/ruby-rcade/RubyGameDev.com', class: 'btn btn-sm btn-primary', style: 'vertical-align: top' %>
        <a href="https://twitter.com/RubyGameDev" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RubyGameDev</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>

  </div>
</div>
