<h1>Tags List</h1>
<table class="tags table">
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td>
          <span><%= link_to tag.title, tag %></span>
        </td>
        <td>
          <span><%= link_to tag.title, tag %></span>
        </td>
        <td>
          <span><%= link_to tag.title, tag %></span>
        </td>
        <td>
          <span><%= link_to tag.title, tag %></span>
        </td>
        <td>
          <span><%= link_to tag.title, tag %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
