<%= form_for(@post, url: (@post.new_record? ? posts_path : post_path(@post)), as: :internal_post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %>
        <%= t('post.error_explanation')%>
      </h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('post.title')%>
    <%= f.text_field :title, class: 'form-control input-lg' %>
  </div>

  <div class="form-group">
    <%= f.label ('post.body_markdown') %>
    <%= f.text_area :body_markdown, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= f.label :tags_string, t('post.tag') %>
    <%= f.text_field :tags_string, class: 'form-control' %>
  </div>

    <%= f.submit t('post.submit_value'), class: 'btn btn-default' %>
<% end %>
