<table class="posts table">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <span class="badge pull-right" title="<%= pluralize(post.comments.count, 'comment') %>"><%= post.comments.count %></span>
          <%= link_to post.title, post %>
          <br><span class="text-muted">Submitted by <%= post.user.username %> on <%= post.created_at.strftime("%m/%d/%Y") %></span>
          <br>
          <%= render 'posts/tags', post: post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
