<table class="posts table">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <td>
            <%= link_to post.title, post %>
            <br><span class="text-muted">Submitted by <%= post.user.username %> on <%= post.created_at.strftime("%m/%d/%Y") %></span>
          </td>
          <td>

            <div class="vote-count row-centered warning">

              <% if post.has_voted?(current_user) %>
                <span class="glyphicon glyphicon-chevron-up"></span><br/>
                <span><%= post.votes.count %></span><br>
                <span class="small">votes</span>
              <% else %>

                <%= link_to vote_post_path(post), method: :put do %>
                <span class="glyphicon glyphicon-chevron-up"></span><br/>
                <span><%= post.votes.count %></span><br>
                <span class="small">votes</span>
                <% end %>
              <% end %>
              
            </div>

            <span class="badge pull-right" title="<%= pluralize(post.comments.count, 'comment') %>"><%= post.comments.count %></span>
          </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>