<% content_for :breadcrumbs do %>
<ol class="breadcrumb">
  <li><%= link_to 'Posts', posts_path %></li>
  <li class="active"><%= @post.title %></li>
</ol>
<% end %>

<div class="post">

  <h1>
    <%= @post.title %>
    <div class="vote-count row-centered pull-right warning">
      <% if @post.has_voted?(current_user) %>
          <span class="glyphicon glyphicon-chevron-up"></span><br/>
          <span><%= @post.votes.count %></span><br>
          <span class="small">votes</span>
      <% else %>
        <%= link_to vote_post_path(@post), method: :put do %>
          <span class="glyphicon glyphicon-chevron-up"></span><br/>
          <span><%= @post.votes.count %></span><br>
          <span class="small">votes</span>
        <% end %>
      <% end %>
    </div>
  </h1>

  <p>
    Posted by: <%= @post.user.username %> on <%= @post.created_at.strftime("%m/%d/%Y") %>
    <% if policy(@post).update? %>
    | <%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>
    <% if policy(@post).destroy? %>
    | <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>

  <div class="body">
    <%= raw @post.body_html %>
  </div>

  <%= render 'tags', post: @post %>

  <h2>Comments</h2>
  <%= render 'comments/form' %>

  <% @post.comments.each do |comment| %>
  <%= render comment %>
  <% end %>
</div>
