<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><%= link_to 'Posts', posts_path %></li>
    <li class="active"><%= @post.title %></li>
  </ol>
<% end %>

<div class="post">
  <h1>
    <%= @post.title %>
    <%= render 'votes/vote', post: @post %>
  </h1>

  <p>
    <%= t('post.posted_by')%>
    <%= @post.user.username %>
    <%= t('post._on')%>
    <%= @post.created_at.strftime("%m/%d/%Y") %>
    <% if policy(@post).update? %>
      | <%= link_to t('post.edit'), edit_post_path(@post) %>
    <% end %>
    <% if policy(@post).destroy? %>
      | <%= link_to t('post.destroy'), post_path(@post), method: :delete, data: { confirm: t('post.confirm') } %>
    <% end %>
  </p>

  <div class="body">
    <%= raw @post.body_html %>
  </div>

  <%= render 'tags', post: @post %>

  <h2> <%= t('post.comments') %> </h2>
  <%= render 'comments/form' %>

  <% @post.comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
