<ol class="breadcrumb">
  <li><%= link_to 'Forum', forum_root_path %></li>
  <li class="active"><%= @topic.title %></li>
</ol>

<div class="col-md-9">
  <h1><%= @topic.title %></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Discussion</th>
        <th>Started By</th>
        <th>Posts</th>
      </tr>
    </thead>
    <tbody>
      <% @discussions.each do |discussion| %>
        <tr>
          <td><%= link_to discussion.title, discussion %></td>
          <td><%= discussion.user.username %></td>
          <td>0</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Discussion', new_forum_topic_discussion_path(@topic) %>
