<ol class="breadcrumb">
  <li><%= link_to 'Forum', forum_root_path %></li>
  <li class="active"><%= @topic.title %></li>
</ol>

<h1><%= @topic.title %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th>Topic</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.title, discussion %></td>
        <td><%= discussion.body %></td>
        <td><%= discussion.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discussion', new_forum_topic_discussion_path(@topic) %>
