<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forum_discussion.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @forum_discussion.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @forum_discussion.user %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @forum_discussion.topic %>
</p>

<%= link_to 'Edit', edit_forum_discussion_path(@forum_discussion) %> |
<%= link_to 'Back', forum_discussions_path %>
