<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @discussion.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @discussion.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @discussion.user.username %>
</p>

<%= link_to 'Edit', edit_forum_discussion_path(@discussion) %>
