<h1>
  <%= @guide_revision.title %>
</h1>
<h2><%= @guide_revision.body_markdown %></h2>

  <% if @guide_revision.status == 'approved' %>
    <h2 class="status-a">Approved</h2>
  <% elsif @guide_revision.status == 'rejected' %>
    Rejected
  <% else %>
    Unknown
  <% end %>


<% if current_user.admin? %>
  <%= link_to "Approve", approve_guide_revision_path(@guide_revision), method: 'PATCH', class: "btn btn-primary pull-right guide-rev-button" %>
  <%= link_to "Reject", reject_guide_revision_path(@guide_revision), method: 'PATCH', class: "btn btn-primary pull-right guide-rev-button" %>
<% else current_user %>
  <%= link_to @guide_revision.title %>
  <%= link_to @guide_revision.body_markdown %>
  <%= @guide_revision.status %>
<% end %>
